:root {
  --primary: #55527c;
  --secondary: #130f49;
  --accent: #ff972d;

  --white: #ffffff;
  --black: #000000;
  --purple: #a5a6ff;
  --blue: #e9f9ff;

  --gray-100: #f4f4fe;
  --gray-200: #f3f9ff;
  --gray-300: #f1f4fb;
  --gray-400: #ebebeb;
  --gray-500: #c1c2c2;

  --green-100: #dff0d8;
  --green-200: #d6e9c6;
  --green-900: #3c763d;

  --red-100: #f2dede;
  --red-200: #ebccd1;
  --red-500: #ff2121;
  --red-900: #a94442;

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Karla", sans-serif;
  --font-accent: "Kristi", cursive;

  --animation-duration: 0.3s;
  --animation-timing-function: ease;
}
