.contact {
  --headline-margin: 20px;

  background-color: var(--blue);
  padding: 75px 0;

  @media (max-width: 767px) {
    padding: 50px 0;
  }

  &__wrapper {
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @media (max-width: 1439px) {
      gap: 50px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    margin-bottom: 40px;
  }

  &__info {
    margin: 0;

    li {
      &:not(:last-child) {
        margin-bottom: 14px;
      }

      a {
        color: var(--secondary);
        font-weight: 600;
        font-family: var(--font-primary);
        display: inline-block;
        position: relative;
        padding: 2px 0;

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          left: 0px;
          bottom: 0;
          background-color: var(--secondary);
          transition: width var(--animation-duration)
            var(--animation-timing-function);
        }

        @media (hover: hover) {
          &:hover {
            &::after {
              width: 0;
            }
          }
        }
      }
    }
  }
}
